 body {
        background: #dedede;
    }
	/*div没有写*内的样式，会自动继承*/
	* {
        margin: 0;	/*CSS 外边距属性*/
        padding: 0;	/*CSS 外边距属性*/
        font-family: '微软雅黑';
    }
	.logo{
		margin-left: 20px;
		padding: 10px;
	}
	#top-nav {
		width: 100%;
		height: 60px;
		background: #333333;
	}
	#top-nav #wrapper_right{
		float:right;	/*浮动*/
		padding:20px;
	}
	#top-nav .top-nav-l{
		margin-left: 25px;
		float:left;
	}
	#top-nav .top-nav-l a{
		color:#fff;
		font-size:13px;
	}
	.article{
		background:#dedede;
	}
	.article-wrap{
		background:#fff !important; /*!important 浏览器首选执行这个语句,覆盖父级样式，用于处理兼容性*/
		width:90%;
		margin:32px auto;
		box-shadow:3px 1px 5px #333333;
	}
	
	.article-content{
		padding: 25px;/*padding 调整内边距*/
	}
	.article-content dd{
		margin:15px 0 0 40px;
		border: 1px solid #ccc;	/*CSS 边框属性*/
		display:block;			/*使段落生出行内框*/
		width:300px;
		text-align:center;		/*文本水平对齐方式*/
	}
	p{
		text-indent: 2em;		/*文本块第一行缩进*/
	}
	.article-u {
        list-style: none;/*列表属性*/
        margin-left: 20px;
    }
    
    .article-content thead {
        background: #333;
        color: #fff;
    }
    
    .article-content tfoot {
        background: #ccc;
    }
    
    .article-content table,
    tr,
    td {
        border: 1px solid #ccc;
        border-collapse: collapse;/*是否合并表格边框*/
        padding: 5px;
    }
    
    .rank-o {
        margin-left: 20px;
        padding: 20px;
    }
    
    .sideBar {
        margin: 20px;
        border-left: 5px solid #ccc;
        padding: 3px;
        text-indent:0.5em;
    }
    
    .form-detail {
        margin-left: 30px;
    }
    
    .form-group {
        margin-top: 15px;
    }
    
    .mes-submit {
        width: 95%;
        margin: 0 auto;
        background: #3355D0;
        color: #fff;
        font-size: 15px;
        padding: 5px;
        border-radius: 5px;/*向 div 元素添加圆角边框*/
    }
	
	
	
    